<!doctype html>
<html class="no-js">
<head>
  {{ partial "head.html" . }}
</head>
<body class="page-services-and-prices">
{{ partial "header.html" . }}
<div id="page">
  {{ partial "title.html" . }}
  <div class="container clearfix" id="main-content">
    <div class="row-fluid sidebar-right">
      <div class="span9 primary-column blog-post">
        <img src="{{.Params.image}}=w800"/>
        <div class="content">{{.Content}}</div>
        <div class="bottom-article">
          <ul class="meta-post">
            {{partial "post-meta.html" .}}
          </ul>
        </div>
        <div id="hypercomments_widget"></div>
        <script type="text/javascript">
          _hcwp = window._hcwp || [];
          _hcwp.push({widget:"Stream", widget_id: 25604});
          (function() {
            if("HC_LOAD_INIT" in window)return;
            HC_LOAD_INIT = true;
            var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
            var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
            hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/25604/"+lang+"/widget.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hcc, s.nextSibling);
          })();
        </script>
      </div>
      <section class="span3 sidebar secondary-column" id="secondary-nav">
        {{ partial "post-aside.html" . }}
      </section>
    </div>
  </div>
<footer id="footer" class="clearfix">
  {{ partial "footer.html" . }}
</footer>
<span class="backToTop"><a href="#top">наверх</a></span>
</body>
</html>
