<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <section>
        <h4>Смотри нас на:</h4>
        <ul class="social">
          <li><a class="socicon rss" href="#" title="RSS"></a></li>
          <li><a class="socicon facebook" href="#" title="Facebook"></a></li>
          <li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
          <li><a class="socicon linkedin" href="#" title="LinkedIn"></a></li>
          <li><a class="socicon dribbble" href="#" title="dribble"></a></li>
          <li><a class="socicon vimeo" href="#" title="Vimeo"></a></li>
        </ul>
      </section>
    </div>
    <div class="span8">
      <section>
        <h4>Последние блог посты</h4>
        <ul class="footerPosts">
          <li><a href="blog-single.html">We will amplify our power to benchmark</a> <span class="meta">December 10, 2012</span></li>
          <li><a href="blog-single.html">Crisp has revolutionized the conceptualization of structuring</a> <span class="meta">September 10, 2012</span></li>
          <li><a href="blog-single.html">A company that can implement correctly</a> <span class="meta">September 10, 2012</span></li>
          <li><a href="blog-single.html">Claritas est etiam processus dynamicus</a> <span class="meta">September 10, 2012</span></li>
          <li><a href="blog-single.html">It is stunning to you!</a> <span class="meta">September 10, 2012</span></li>
          <li><a href="blog-single.html">We will increase our aptitude to evolve </a> <span class="meta">November 15, 2012</span></li>
        </ul>
      </section>
    </div>
  </div>
</div>
<section class="footerCredits">
  <div class="container">
    <ul class="clearfix">
      <li>© 2012 Your Company Name. All rights reserved.</li>
      <li><a href="sitemap.html">Site Map</a></li>
      <li><a href="privacy.html">Privacy</a></li>
    </ul>
  </div>
</section>
