<ul class="visuallyhidden" id="top">
  <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to navigation</a></li>
  <li><a href="#page" title="Skip to content" accesskey="c">Skip to content</a></li>
</ul>
<h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span></a></h5>
<header class="header  clearfix">
  <div class="container">
    <nav id="main_menu">
      <ul class="accordmobile">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="parent parent-{{.Identifier}}">
            <a href="{{.Url}}" title="{{ .Name }}">{{ .Name }}<i></i></a>
            <ul>
            {{ range .Children }}
              <li><a href="{{.Url}}" title="{{ .Name }}">{{ .Name }}</a></li>
            {{end}}
            </ul>
          </li>
          {{else}}
            <li><a href="{{.Url}}" title="{{ .Name }}">{{ .Name }}</a></li>
          {{end}}
        {{end}}
      </ul>
    </nav>
    <div id="logo">
      <a href="/">
        <i class="icon-home icon-3x"></i>
        <h2>nwstroy</h2>
      </a>
      <!--<h5 class="underconstr"><i class="icon-wrench"></i> Сайт в процессе разработки </h5>-->
    </div>
  </div>
</header>
