<div id="slider" class="sl-slider-wrapper">
	<div class="sl-slider">
		<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2" style="display: block; z-index: 2;">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-1"></div>
				<h2>Большая надпись</h2>
				<blockquote><p>Вы только что пообедал, и как бы скрупулезно бойню скрыта в изящном расстоянии мили, есть соучастие.</p><cite>Ralph Waldo Emerson</cite>
				</blockquote>
			</div>
		</div>
		<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5" style="display: block; z-index: 0;">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-2"></div>
				<h2>Красивый заголовок</h2>
				<blockquote><p>Пока он не расширяет круг своего сострадания ко всем живым существам, человек не будет сам найти мир.</p><cite>Albert Schweitzer</cite></blockquote>
			</div>
		</div>
		<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1" style="display: block; z-index: 0;">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-3"></div>
				<h2>Dum spiro, spero.</h2>
				<blockquote><p>Thousands of people who say they 'love' animals sit down once or twice a day to enjoy the flesh of creatures who have been utterly deprived of everything that could make their
					lives worth living and who endured the awful suffering and the terror of the abattoirs.</p><cite>Dame Jane Morris Goodall</cite></blockquote>
			</div>
		</div>
		<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1" style="display: block; z-index: 0;">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-4"></div>
				<h2>Donna nobis pacem.</h2>
				<blockquote><p>The human body has no more need for cows' milk than it does for dogs' milk, horses' milk, or giraffes' milk.</p><cite>Michael Klaper M.D.</cite></blockquote>
			</div>
		</div>
		<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1" style="display: block; z-index: 0;">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-5"></div>
				<h2>Acta Non Verba.</h2>
				<blockquote><p>I think if you want to eat more meat you should kill it yourself and eat it raw so that you are not blinded by the hypocrisy of having it processed for you.</p><cite>Margi
					Clarke</cite></blockquote>
			</div>
		</div>
	</div>
	<!-- /sl-slider -->
	<nav id="nav-dots" class="nav-dots">
		<span class="nav-dot-current"></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</nav>
</div>
