<!doctype html>
<html class="no-js">
<head>
  {{ partial "head.html" . }}
</head>
<body class="page-services-and-prices">
{{ partial "header.html" . }}
<div id="page">
  <div class="hero-unit">
    <div class="container">
      <h2>Тег: {{.Title}}</h2>
    </div>
  </div>
  <div class="container clearfix" id="main-content">
    <div class="row-fluid sidebar-right">
      <div class="span9 blog-summary primary-column">
        {{range .Data.Pages}}
        {{if  not (isset .Params "menu")}}
        {{ .Render "li"}}
        {{end}}
        {{end}}
      </div>
      <section class="span3 sidebar secondary-column" id="secondary-nav">
        {{ partial "post-aside.html" . }}
      </section>
    </div>
  </div>
</div>
<footer id="footer" class="clearfix">
  {{ partial "footer.html" . }}
</footer>
<span class="backToTop"><a href="#top">наверх</a></span>
</body>
</html>
